:root {
  --white-color: #FFFFFF;
  --main-content-color: #212121;
  --blue-color: #2196F3;
  --gray-content-color: #757575;
  --banner-background-color: #2F303A;
  --logo-icon-color: #afb1b8;
  --light-gray-color: #F5F4FA;
  --black-color: #000;
  --header-border-color: #ECECEC;
  --portfolio-border-color: #EEEEEE;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.images, .features, .hero {
  margin-left: auto;
  margin-right: auto;
}

.newsletter__button, .hero__button, .modal-form__send-button {
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background: var(--blue-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-style: none;
  color: var(--white-color);
}

.newsletter__button, .clients__item, .images__description, .features__icon, .modal-form__send-button, .modal-form__checkbox-label {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  padding: 0px;
  font-size: 14px;
  letter-spacing: 0.03em;
  font-family: "Roboto", sans-serif;
}

h2,
h3,
p {
  margin: 0;
}

a {
  text-decoration: none;
  transition: color 250ms var(--timing-function);
}

button {
  cursor: pointer;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  padding: 0;
}

@media screen and (min-width: 480px) {
  .container {
    width: 450px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 738px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1170px;
    margin-right: auto;
    margin-left: auto;
  }
}
.section-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .section-title {
    margin-bottom: 50px;
  }
}

.logo {
  font-family: "Raleway";
  font-size: 24px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--blue-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.logo_theme_dark {
  color: var(--black-color);
}

.logo_theme_light {
  color: var(--white-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms var(--timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal-window {
  position: absolute;
  padding: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--white-color);
  transform-origin: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media screen and (max-width: 1999px) {
  .modal-window {
    width: 450px;
    height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .modal-window {
    min-width: 528px;
    min-height: 581px;
  }
}
.modal-window__button {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;
  text-align: center;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--white-color);
}

.modal-window__icon {
  height: 100%;
  transition: fill 250ms var(--timing-function);
}
.modal-window__icon:hover, .modal-window__icon:focus {
  fill: var(--blue-color);
}

.modal-form {
  width: 370px;
}

.modal-form__head {
  margin: 0;
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--main-content-color);
}

.modal-form__label {
  font-size: 12px;
  font-weight: inherit;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--gray-content-color);
}

.modal-form__input-section {
  position: relative;
  margin-bottom: 12px;
  margin-top: 5px;
}

.modal-form__input-section input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms var(--timing-function);
}
.modal-form__input-section input:focus {
  border: 1px solid var(--blue-color);
}
.modal-form__input-section input:focus + .modal-form__icon {
  fill: var(--blue-color);
}

.modal-form__icon {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--main-content-color);
  transition: fill 250ms var(--timing-function);
}

.main-form__textarea {
  width: 100%;
  margin-top: 5px;
  padding: 15px 17px;
  border-color: rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
}
.main-form__textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__checkbox-label {
  font-size: 12px;
  margin-top: 20px;
  color: var(--gray-content-color);
}

.modal-form__checkbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: absolute;
}
.modal-form__checkbox:checked ~ .modal-form__checkbox-span .modal-form__icon-check {
  fill: var(--blue-color);
  border: none;
}
.modal-form__checkbox:checked ~ .modal-form__checkbox-link {
  color: var(--blue-color);
}

.modal-form__checkbox-span {
  width: 15px;
  height: 15px;
  margin-right: 7px;
}

.modal-form__icon-check {
  border: 2px solid var(--main-content-color);
  border-radius: 2px;
  fill: var(--white-color);
  transition: fill 250ms var(--timing-function), border 250ms var(--timing-function);
}

.modal-form__checkbox-link {
  margin-left: 5px;
  color: currentColor;
  text-decoration: underline;
}

.modal-form__send-button {
  margin: 30px auto auto;
  width: 200px;
  transition: background-color 250ms var(--timing-function);
}
.modal-form__send-button:hover, .modal-form__send-button:focus {
  background-color: #188CE8;
}

@media screen and (min-width: 1200px) {
  .modal-form {
    width: 448px;
  }
  .modal-form__checkbox-label {
    font-size: 12px;
  }
}
.social-networks {
  display: flex;
  padding: 0;
  justify-content: space-between;
}

.social-networks_theme_dark {
  width: 206px;
}

.social-networks__item {
  width: 44px;
  height: 44px;
}

.social-networks__icon {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.social-networks__icon_theme_light {
  fill: var(--logo-icon-color);
  transition: fill 250ms var(--timing-function), background-color 250ms var(--timing-function);
}
.social-networks__icon_theme_light:hover {
  fill: var(--white-color);
  background-color: var(--blue-color);
}

.social-networks__icon_theme_dark {
  fill: var(--white-color);
  background-color: rgba(255, 255, 255, 0.1);
  transition: fill 250ms var(--timing-function), background-color 250ms var(--timing-function);
}
.social-networks__icon_theme_dark:hover {
  fill: var(--white-color);
  background-color: var(--blue-color);
}

.js-menu-container {
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: var(--white-color);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);
}

.js-menu-container.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu__container {
  position: relative;
  margin: 0;
}

.js-close-menu {
  position: absolute;
  top: -32px;
  left: 425px;
  line-height: 0;
  border: none;
  background-color: transparent;
  padding: 0;
  fill: var(--main-content-color);
  transition: fill 250ms --timing-function;
}
.js-close-menu:hover, .js-close-menu:focus {
  fill: var(--blue-color);
}

.mobile-menu__close-icon {
  width: 40px;
  height: 40px;
}

.mobile-nav-menu {
  margin-top: 48px;
  margin-left: 40px;
}

.mobile-nav-menu__item {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--main-content-color);
}
.mobile-nav-menu__item:not(:last-child) {
  margin-bottom: 35px;
}

.mobile-nav-menu__item a {
  color: var(--main-content-color);
}

.mobile-menu__tel-link {
  display: block;
  margin-top: 300px;
  margin-left: 40px;
  font-size: 34px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--blue-color);
}

.mobile-menu__email-link {
  display: block;
  margin-top: 32px;
  margin-left: 40px;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--gray-content-color);
}

.mobile-menu-networks {
  display: flex;
  margin-top: 65px;
  margin-left: 40px;
}

.mobile-menu-networks__item {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.12;
  letter-spacing: 0.02em;
}
.mobile-menu-networks__item:not(:last-child)::after {
  content: "";
  margin-left: 10px;
  margin-right: 10px;
  border-right: 1px solid var(--main-content-color);
}

.mobile-menu-networks__link {
  color: var(--blue-color);
}

.page-header__container {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-header.portfolio-header {
  border-bottom: 1px solid var(--header-border-color);
}

.nav-menu__list {
  display: none;
}

.contacts__list {
  display: none;
}

.js-open-menu {
  line-height: 0;
  border: none;
  background-color: transparent;
  padding: 0;
  fill: var(--main-content-color);
  transition: fill 250ms --timing-function;
}
.js-open-menu:hover, .js-open-menu:focus {
  fill: var(--blue-color);
}

.open-mobile-menu-btn__icon {
  width: 40px;
  height: 40px;
}

@media screen and (max-width: 767px) {
  .page-header {
    height: 60px;
  }
}
@media screen and (min-width: 768px) {
  .page-header {
    height: 80px;
  }
  .open-mobile-menu-btn {
    display: none;
  }
  .page-header .container {
    display: flex;
    align-items: center;
  }
  .page-header a:hover {
    color: var(--blue-color);
  }
  .nav-menu {
    display: flex;
  }
  .nav-menu__logo {
    margin-right: 85px;
    margin-top: 26px;
  }
  .nav-menu__list {
    display: flex;
    align-items: center;
    margin-top: 28px;
    padding: 0px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.15;
    letter-spacing: 0.02em;
  }
  .nav-menu__item {
    color: var(--main-content-color);
  }
  .nav-menu__item:not(:last-child) {
    margin-right: 50px;
  }
  .nav-menu__item a {
    color: var(--main-content-color);
  }
  .nav-menu__item_current {
    position: relative;
  }
  .nav-menu__item_current::after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: auto;
    border-bottom: 4px solid var(--blue-color);
    top: 100%;
    margin-top: 28px;
  }
  .contacts__list {
    display: block;
    margin-left: 95px;
  }
  .contacts__email-link {
    margin-right: 50px;
  }
  .contacts__icon-envelope,
.contacts__icon-smartphone {
    fill: currentColor;
    margin-right: 10px;
  }
  .contacts__email-link,
.contacts__tel-link {
    color: var(--gray-content-color);
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .nav-menu__list {
    margin-top: 32px;
    margin-bottom: 32px;
  }
  .contacts__item:last-child {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .contacts__item:not(:last-child) {
    margin-top: 20px;
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .page-header {
    align-items: baseline;
  }
  .nav-menu__logo {
    margin-right: 95px;
  }
  .contacts__list {
    display: flex;
    margin-left: auto;
    margin-top: 21px;
  }
  .contacts__item {
    margin-bottom: 0;
  }
}
.hero {
  background-color: var(--banner-background-color);
  max-width: 1600px;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (max-width: 767px) {
  .hero {
    height: 400px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-mobile.jpg);
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero {
    height: 400px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-mobile@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-tablet.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-tablet@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-desktop.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    height: 600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-desktop@2x.jpg);
  }
}

.hero__container {
  padding-top: 118px;
  padding-bottom: 118px;
  margin: auto;
}
@media screen and (min-width: 1200px) {
  .hero__container {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__title {
  margin: 0 auto;
  width: 360px;
  font-size: 26px;
  font-weight: 900;
  line-height: 42px;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-color);
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0.06em;
    width: 696px;
  }
}

.hero__button {
  margin-top: 30px;
  padding: 10px 32px;
}

.features__item {
  line-height: 171%;
  width: 450px;
  color: var(--gray-content-color);
}
.features__item:not(:last-child) {
  margin-bottom: 30px;
}

.features__icon {
  background-color: var(--light-gray-color);
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
}

.features__subtitle {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-content-color);
}

.features__description {
  margin-left: 15px;
}

.features__icon {
  background-color: var(--light-gray-color);
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .features__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .features__item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    width: 270px;
  }
}
.images {
  padding-top: 0;
}

@media screen and (max-width: 1199px) {
  .images {
    display: none;
  }
}
.images__list {
  padding: 0px;
  display: flex;
  justify-content: space-between;
}

.images__item {
  position: relative;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.images__img {
  display: block;
  max-width: 100%;
}

.images__description {
  position: absolute;
  width: 100%;
  height: 70px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: var(--light-gray-color);
}

.team-member__item {
  width: 450px;
  background: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-member__img {
  width: 450px;
  height: 460px;
}

.team-member__name {
  text-align: center;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0.03em;
}

.team-member__work {
  text-align: center;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: var(--gray-content-color);
}

.team-member__social-networks {
  width: 206px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  justify-content: space-around;
  padding-bottom: 25px;
}

@media screen and (max-width: 767px) {
  .team-member__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .team-member.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .team-member__item {
    width: 354px;
    margin-bottom: 30px;
  }
  .team-member__img {
    width: 354px;
    height: 374px;
  }
}
@media screen and (min-width: 1200px) {
  .team-member__item {
    width: 270px;
    margin-bottom: 0px;
  }
  .team-member__img {
    width: 270px;
    height: 260px;
  }
}
.clients__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
}

.clients__item {
  margin-bottom: 30px;
  fill: var(--logo-icon-color);
  border: 1px solid var(--logo-icon-color);
  width: 210px;
  height: 92px;
  border-radius: 4px;
  transition: border-color 250ms var(--timing-function), fill 250ms var(--timing-function);
}
.clients__item:hover {
  border-color: var(--blue-color);
  fill: var(--blue-color);
}
.clients__item:nth-child(5), .clients__item:nth-child(6) {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .clients__item {
    width: 226px;
    height: 92px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    width: 170px;
    height: 92px;
  }
}
footer {
  background: var(--banner-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.address {
  width: 250px;
}

.address__section {
  width: 230px;
  height: auto;
}

.address__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  font-style: normal;
  line-height: 171%;
  margin-top: 20px;
}

.address__item:nth-child(2) {
  margin-top: 10px;
  margin-bottom: 5px;
}

.address__link {
  color: rgba(255, 255, 255, 0.6);
}

.address__link_white-color {
  color: var(--white-color);
}

.icons__description,
.newsletter__description {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}

.newsletter {
  margin-top: 60px;
}

.newsletter__input {
  width: 450px;
  height: 50px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  padding-left: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--banner-background-color);
}

.newsletter__button {
  margin-left: auto;
  margin-right: auto;
  padding: 10px 28px;
}

.newsletter__icon {
  margin-left: 10px;
  fill: var(--white-color);
}

@media screen and (max-width: 1199px) {
  .address .logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }
  .icons {
    width: 206px;
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .newsletter {
    width: 480px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media screen and (min-width: 768px) {
  footer {
    padding-top: 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    display: flex;
    align-items: baseline;
  }
  .address__list {
    display: block;
    width: 230px;
  }
  .address__section {
    width: 230px;
    height: auto;
  }
  .icons {
    margin-left: 70px;
  }
  .newsletter {
    width: 570px;
    margin-left: 95px;
  }
  .newsletter__form {
    display: flex;
  }
  .newsletter__input {
    width: 358px;
    height: 50px;
  }
  .newsletter__button {
    margin-left: 10px;
  }
}
.menu-buttons {
  display: flex;
}

.menu-buttons__button {
  margin-right: 8px;
  padding: 6px 22px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  background: var(--light-gray-color);
  border-radius: 4px;
  border-style: none;
  text-align: center;
  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
}
.menu-buttons__button:hover, .menu-buttons__button:focus {
  background-color: var(--blue-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-project__link {
  color: var(--main-content-color);
  display: block;
  transition: box-shadow 250ms var(--timing-function);
}
.portfolio-project__link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-project__link:hover .portfolio-project__overlay-section {
  transform: translateY(0);
  opacity: 0.9;
}

.portfolio-project__image-section {
  position: relative;
  overflow: hidden;
}

.portfolio-project__overlay-section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-color: var(--blue-color);
  transform: translateY(100%);
  opacity: 0;
  transition: transform 250ms var(--timing-function), opacity 250ms var(--timing-function);
}

.portfolio-project__overlay-text {
  margin: 0;
  padding: 65px 25px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.portfolio-project__description-section {
  padding: 20px 24px;
  border: 1px solid var(--portfolio-border-color);
  border-top: 0px;
}

.portfolio-project__name {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.portfolio-project__description {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--gray-content-color);
}

@media screen and (max-width: 767px) {
  .menu-buttons {
    width: 334px;
    flex-wrap: wrap;
    height: 91px;
    align-items: flex-end;
  }
  .menu-buttons_portfolio {
    margin-bottom: 40px;
  }
  .portfolio-project__item {
    width: 450px;
    height: auto;
  }
  .portfolio-project__item:not(:last-child) {
    margin-bottom: 30px;
  }
  .portfolio-project__img {
    width: 450px;
    height: 294px;
  }
}
@media screen and (min-width: 768px) {
  .menu-buttons {
    justify-content: center;
  }
  .menu-buttons_portfolio {
    margin-bottom: 30px;
  }
  .portfolio-project {
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    justify-content: space-between;
  }
  .portfolio-project__item {
    width: 354px;
    height: auto;
  }
  .portfolio-project__item:not(:last-child) {
    margin-bottom: 30px;
  }
  .portfolio-project__img {
    width: 354px;
    height: 294px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio-project__item:first-child {
    height: 440px;
  }
  .portfolio-project__item:first-child .portfolio-project__description-section {
    width: 354px;
    height: 146px;
  }
}
@media screen and (min-width: 1200px) {
  .menu-buttons_portfolio {
    margin-bottom: 50px;
  }
  .portfolio-project__item {
    width: 370px;
    height: auto;
  }
  .portfolio-project__item:nth-child(n+4) {
    margin-top: 30px;
  }
}/*# sourceMappingURL=main.css.map */