@import './utils/variables';
@import './utils/placeholders';
@import './utils/mixins';

@import './base/base';
@import './base/section';
@import './base/container';

@import './components/section-title';
@import './components/logo';
@import './components/backdrop';
@import './components/modal-window';
@import './components/modal-form';
@import './components/social-networks';

@import './layout/header';
@import './layout/hero';
@import './layout/features';
@import './layout/images';
@import './layout/team';
@import './layout/clients';
@import './layout/footer';
@import './layout/portfolio';
