.clients__list {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.clients__item {
    fill: var(--logo-icon-color);
    border: 1px solid var(--logo-icon-color);
    @include width-height(170px, 92px);
    @extend %flex-center;
    border-radius: 4px;
    transition: border-color 250ms var(--timing-function), fill 250ms var(--timing-function);

    &:hover {
        border-color: var(--blue-color);
        fill: var(--blue-color);
    }
}