.features {
    @extend %margin-center;
}

.features__list {
    display: flex;
    justify-content: space-between;
    padding: 0px;
}

.features__item {
    line-height: 171%;
    width: 270px;
    color: var(--gray-content-color);
}

.features__icon {
    background-color: var(--light-gray-color);
    @include width-height(100%, 120px);
    @extend %flex-center;
    margin-bottom: 30px;
    border-radius: 4px;
}

.features__subtitle {
    margin-bottom: 10px;
    @include font(14px, 700);
    text-transform: uppercase;
    color: var(--main-content-color);
}