footer {
    background: var(--banner-background-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

footer .container {
    display: flex;
    align-items: baseline;
}

.address__section {
    @include width-height(230px);
    margin-right: 50px;
}

.address__list {
    padding: 0px;
    margin-right: 0;
    font-style: normal;
    line-height: 171%;
    margin-top: 20px;
}

.address__item {

    &:nth-child(2) {
        margin-top: 10px;
        margin-bottom: 5px;
    }
}

.address__link {
    color: rgba(255, 255, 255, 0.6);
    &:not(:first-child) {
        color: var(--white-color);
    }
}

.newsletter {
    margin-left: auto;
}

.icons__description,
.newsletter__description {
    margin-bottom: 20px;
    @include font($fw: 700, $lh: 1.14);
    text-transform: uppercase;
    color: var(--white-color);
}

.newsletter__form {
    display: flex;
}

.newsletter__input {
    @include width-height(358px);
    @include font(16px, 400, 1.25);
    margin-right: 12px;
    padding-left: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    color: rgba(255, 255, 255, 0.6);
    background-color: var(--banner-background-color);
}

.newsletter__button {
    @extend %main-button;
    @extend %flex-center;
    padding: 10px 28px;
}

.newsletter__icon {
    margin-left: 10px;
    fill: var(--white-color);
}