.page-header__container {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page-header.portfolio-header {
    border-bottom: 1px solid var(--header-border-color);
}

.nav-menu__list {
    display: none;
}

.contacts__list {
    display: none;
}

.js-open-menu {
    line-height: 0;
    border: none;
    background-color: transparent;
    padding: 0;
    fill: var(--main-content-color);
    transition: fill 250ms --timing-function;

    &:hover,
    &:focus {
        fill: var(--blue-color);
    }
}

.open-mobile-menu-btn__icon {
    width: 40px;
    height: 40px;
    
}

@media screen and (max-width: 767px) {
    .page-header {
        height: 60px;
    }
}

@media screen and (min-width: 768px) {

    .page-header {
        height: 80px;
    }

    .open-mobile-menu-btn {
        display: none;
    }

    .page-header .container {
        display: flex;
        align-items: center;
    }

    .page-header a:hover {
        color: var(--blue-color);
    }

    .nav-menu {
        display: flex;
    }

    .nav-menu__logo {
        margin-right: 85px;
        margin-top: 26px;
    }

    .nav-menu__list {
        display: flex;
        align-items: center;
        margin-top: 28px;
        padding: 0px;
        @include font($fw:500, $ls:0.02em);
    }
    
    .nav-menu__item {
        color: var(--main-content-color);

        &:not(:last-child) {
            margin-right: 50px;
        }
    }

    .nav-menu__item a {
        color: var(--main-content-color);
    }

    .nav-menu__item_current {
        position: relative;

        &::after {
            position: absolute;
            content: '';
            display: block;
            @include width-height(100%);
            border-bottom: 4px solid var(--blue-color);
            top: 100%;
            margin-top: 28px;
        }
    }

    .contacts__list {
        display: block;
        margin-left: 95px;
    }
    

    .contacts__email-link {
        margin-right: 50px;
    }

    .contacts__icon-envelope,
    .contacts__icon-smartphone {
        fill: currentColor;
        margin-right: 10px;
    }

    .contacts__email-link,
    .contacts__tel-link {
        color: var(--gray-content-color);
        display: flex;
        align-items: center;
    }
}

@media screen and (min-width:768px) and (max-width: 1199px) {

    .nav-menu__list {
        margin-top: 32px;
        margin-bottom: 32px;
    }

    .contacts__item {
        &:last-child {
            margin-top: 10px;
            margin-bottom: 20px;
        }

        &:not(:last-child) {
                margin-top: 20px;
                margin-bottom: 10px;
            }
    }
}


@media screen and (min-width: 1200px) {

    .page-header {
        align-items: baseline;
    }
    .nav-menu__logo {
        margin-right: 95px;
    }

    .contacts__list {
        display: flex;
        margin-left: auto;
        margin-top: 21px;
    }

    .contacts__item {
        margin-bottom: 0;
    }
    
}