.page-header .container {
    display: flex;
    align-items: center;
}

.page-header.portfolio-header {
    border-bottom: 1px solid var(--header-border-color);
}

.page-header a:hover {
    color: var(--blue-color);
}

.nav-menu {
    display: flex;
}

.nav-menu__logo {
    margin: 25px 95px 25px 0;
}

.nav-menu__list {
    display: flex;
    align-items: center;
    padding: 0px;
    @include font($fw:500, $ls:0.02em);
}

.nav-menu__item {
    
    color: var(--main-content-color);
    
    &:not(:last-child) {
        margin-right: 50px;
    }
}

.nav-menu__item a {
    color: var(--main-content-color);
}

.nav-menu__item_current {
    position: relative;

    &::after {
        position: absolute;
        content: '';
        display: block;
        @include width-height(100%);
        border-bottom: 4px solid var(--blue-color);
        top: 100%;
        margin-top: 28px;
    }
}

.contacts {
    display: flex;
    align-items: center;
    @include font($fw: 500, $ls: 0.02em);
}

.contacts__list {
    margin-left: auto;
}

.contacts__email-link {
    margin-right: 50px;
}

.contacts__icon-envelope,
.contacts__icon-smartphone {
    fill: currentColor;
    margin-right: 10px;
}

.contacts__email-link,
.contacts__tel-link {
    color: var(--gray-content-color);
    display: flex;
    align-items: center;
}