.hero {
    background-color: var(--banner-background-color);
    max-width: 1600px;
    @extend %margin-center;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero__title {
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    color: var(--white-color);    
}

.hero__button {
    margin-top: 30px;
    @extend %main-button;
    padding: 10px 32px;
}

 @media screen and (min-width: 320px) {

    .hero {
        height: 400px;
        width: 100%;
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../images/hero-mobile.jpg);
    }

    .hero__container {
        padding-top: 118px;
        padding-bottom: 118px;
    }

    .hero__title {
        width: 100%;
        @include font(26px, 900, 42px, 0.06em);
    }

 }

 @media screen and (min-width: 480px) {

    .hero__title {
        width: 360px;
    }
    
 }

 @media screen and (min-width: 320px) and (min-device-pixel-ratio: 2),
 screen and (min-width: 320px) and (min-resolution: 192),
 screen and (min-width: 320px) and (min-resolution: 2dppx) {

    .hero {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../images/hero-mobile@2x.jpg);
    }
    
 }

 @media screen and (min-width: 768px) {

    .hero {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../images/hero-tablet.jpg);
    }

 }

 @media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
 screen and (min-width: 768px) and (min-resolution: 192),
 screen and (min-width: 768px) and (min-resolution: 2dppx) {

    .hero {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../images/hero-tablet@2x.jpg);
    }
     
 }

 @media screen and (min-width: 1200px) {

    .hero {
        height: 600px;
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../images/hero-desktop.jpg);
    }

     .hero__title {
        @include font(44px, 900, 60px, 0.06em);
        width: 696px;
     }

    .hero__container {
        padding-top: 200px;
        padding-bottom: 200px;
    }

 }

 @media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2),
 screen and (min-width: 1200px) and (min-resolution: 192),
 screen and (min-width: 1200px) and (min-resolution: 2dppx) {

    .hero {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../images/hero-desktop@2x.jpg);
    }
    
 }