.hero {
    background-color: var(--banner-background-color);
    max-width: 1600px;
    
    @extend %margin-center;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;


    @media screen and (max-width: 767px) {
        height: 400px;
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url(../images/hero-mobile.jpg);
    }
    
    @media screen and (max-width: 767px) and (min-device-pixel-ratio: 2),
            screen and (max-width: 767px) and (min-resolution: 192),
            screen and (max-width: 767px) and (min-resolution: 2dppx) 
    {
        height: 400px;
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url(../images/hero-mobile@2x.jpg);
    }

    @media screen and (min-width: 768px) {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../images/hero-tablet.jpg);
    }

    @media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
            screen and (min-width: 768px) and (min-resolution: 192),
            screen and (min-width: 768px) and (min-resolution: 2dppx) 
    {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../images/hero-tablet@2x.jpg);
    }

    @media screen and (min-width: 1200px) {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../images/hero-desktop.jpg);
    }

    @media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2),
            screen and (min-width: 1200px) and (min-resolution: 192),
            screen and (min-width: 1200px) and (min-resolution: 2dppx) 
    {
        height: 600px;
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../images/hero-desktop@2x.jpg);
    }
}
.hero__container {
    padding-top: 118px;
    padding-bottom: 118px;
    margin: auto;

    @media screen and (min-width: 1200px) {
        padding-top: 200px;
        padding-bottom: 200px;
    }
}

.hero__title {
    margin: 0 auto;
    width: 360px;
    @include font(26px, 900, 42px, 0.06em);
    text-align: center;
    text-transform: uppercase;
    color: var(--white-color);

    @media screen and (min-width: 1200px) {
        @include font(44px, 900, 60px, 0.06em);
        width: 696px;
    }
    
}

.hero__button {
    margin-top: 30px;
    @extend %main-button;
    padding: 10px 32px;
}