.images {
    padding-top: 0;
    @extend %margin-center;
}

.images__list {
    padding: 0px;
    display: flex;
    justify-content: space-between;
}

.images__item {
    position: relative;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.images__img {
    display: block;
    max-width: 100%;
}

.images__description {
    position: absolute;
    @extend %flex-center;
    @include width-height(100%, 70px);
    @include font($fw: 700, $lh: 1.14);
    text-transform: uppercase;
    color: var(--white-color);
    background-color: rgba(47, 48, 58, 0.8);
}

@media screen and (max-width: 1199px) {

    .images {
        display: none;
    }
    
}