.menu-buttons {
    display: flex;
}

.menu-buttons__button {
    margin-right: 8px;
    padding: 6px 22px;
    @include font(16px, 500, 1.62);
    background: var(--light-gray-color);
    border-radius: 4px;
    border-style: none;
    text-align: center;
    transition: background-color 250ms var(--timing-function),
        color 250ms var(--timing-function),
        box-shadow 250ms var(--timing-function);

    &:hover,
    &:focus {
        background-color: var(--blue-color);
        color: var(--white-color);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}

.portfolio-project__link {
    color: var(--main-content-color);
    display: block;
    transition: box-shadow 250ms var(--timing-function);

    &:hover {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }

    &:hover .portfolio-project__overlay-section {
        transform: translateY(0);
        opacity: 0.9;
    }
}

.portfolio-project__image-section {
    position: relative;
    overflow: hidden;
}

.portfolio-project__overlay-section {
    position: absolute;
    top: 0;
    left: 0;
    @include width-height(100%);;
    background-color: var(--blue-color);
    transform: translateY(100%);
    opacity: 0;
    transition: transform 250ms var(--timing-function), opacity 250ms var(--timing-function);
}

.portfolio-project__overlay-text {
    margin: 0;
    padding: 65px 25px;
    @include font(18px, 400, 1.56);
    color: var(--white-color);
}


.portfolio-project__description-section {
    padding: 20px 24px;
    border: 1px solid var(--portfolio-border-color);
    border-top: 0px;
}

.portfolio-project__name {
    @include font(18px, 700, 2, 0.06em);
    margin-bottom: 4px;
}

.portfolio-project__description {
    @include font(16px, 400, 1.88);
    color: var(--gray-content-color);
}

@media screen and (max-width:767px) {
    .menu-buttons {
        width: 334px;
        flex-wrap: wrap;
        height: 91px;
        align-items: flex-end;
    }

    .menu-buttons_portfolio {
        margin-bottom: 40px;
    }

    .portfolio-project__item {
        @include width-height(450px);

        &:not(:last-child){
            margin-bottom: 30px;
        }
    }
    
    .portfolio-project__img {
        width: 450px;
        height: 294px;
    }
}

@media screen and (min-width:768px) {

    .menu-buttons {
        justify-content: center;
    }

    .menu-buttons_portfolio {
        margin-bottom: 30px;
    }

    .portfolio-project {
        display: flex;
        flex-wrap: wrap;
        padding: 0px;
        justify-content: space-between;

    }

    .portfolio-project__item {
        @include width-height(354px);

        &:not(:last-child) {
            margin-bottom: 30px;
        }
}

    .portfolio-project__img {
        width: 354px;
        height: 294px;
    }
}

@media screen and (min-width:1200px) {

    .menu-buttons_portfolio {
        margin-bottom: 50px;
    }

    .portfolio-project__item {
        @include width-height(370px);

        &:nth-child(n+4) {
            margin-top: 30px;
        }
    }
}