.menu-buttons__list {
    display: flex;
}


.menu-buttons__button {
    margin-right: 10px;
    padding: 6px 22px;
    text-align: center;
    @include font(18px, 500, 1.62);
    border-radius: 4px;
    border-style: none;
    background: var(--light-gray-color);
    color: var(--main-content-color);
    transition: background-color 250ms var(--timing-function),
        color 250ms var(--timing-function),
        box-shadow 250ms var(--timing-function);

    &:hover,
    &:focus {
        background-color: var(--blue-color);
        color: var(--white-color);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}

@media screen and (min-width: 320px) {

    .menu-buttons__list {
        flex-wrap: wrap;
    }

    .menu-buttons__item {
        margin-bottom: 15px;
    }
}

@media screen and (min-width: 480px) {

    .menu-buttons__list {
        // width: 334px;
        margin-bottom: 25px;
    }
}

@media screen and (min-width:768px) {

    .menu-buttons__list {
        margin-bottom: 30px;
        flex-wrap: nowrap;
        justify-content: center;
    }

    .menu-buttons__item {
        margin-bottom: 0;
    }

}

@media screen and (min-width:768px) {

    .menu-buttons__list {
        margin-bottom: 50px;
    }

}