:root {
    --white-color: #FFFFFF;
    --main-content-color: #212121;
    --blue-color: #2196F3;
    --gray-content-color: #757575;
    --banner-background-color: #2F303A;
    --team-card-background-color: #F5F4FA;
}

body {
    padding: 0px;
    width: 1600px;
    font-size: 14px;
    letter-spacing: 0.03em;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1600px;
    margin-left: auto;
    margin-right: auto;
}

/* MAIN PAGE */

/* HEADER */

header {
    align-items: center;
}

.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;  
    color: var(--blue-color); 
}

#logo-header {
    margin: 25px 95px 25px 215px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

span.studio-header {
    color: #000;
}

.navigation-menu {
    display: flex;
}

.menu,
.header-links {
    display: flex;
    align-items: center;
    padding: 0px;
    font-weight: 500;
    letter-spacing: 0.02em;
}

a {
    text-decoration: none;
}

header a:hover {
    color: var(--blue-color);
}

.menu a {
    color: var(--main-content-color);
}

.menu li:not(:last-child) {
    margin-right: 50px;
}

.header-links {
    margin-left: 345px;
}

.email-img {
    margin-right: 10px;
}

.tel-img {
    margin-left: 30px;
    margin-right: 10px;
    vertical-align: middle;
}

.email-link-header,
.tel-link-header {
    color: var(--gray-content-color);
}

/* BANNER */

section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.banner {
    background-color: var(--banner-background-color);
}

.main-title {
    width: 696px;
    margin: 105px 450px 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 136%;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-color);
}

button {
    cursor: pointer;
}

.order-button {
    margin: auto 690px 105px;
    padding: 10px 32px;
    background: var(--blue-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-style: none;
    color: var(--white-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 188%;
    letter-spacing: 0.06em;
}

/* FEATURES */

ul {
    list-style-type: none;
    margin: 0;
}

.features {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0px;
}

.features-list {
    display: flex;
    justify-content: space-between;
    padding: 0px;
}

.features-list li {
    line-height: 171%;
    width: 270px;
    color: var(--gray-content-color);
}

.features-list li h3 {
    margin: 0;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 115%;
    text-transform: uppercase;
    color: var(--main-content-color);
}

.features-list li p {
    margin: 0;
}

/* IMAGES */

.images {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.images h2 {
    font-size: 36px;
    line-height: 117%;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 0;
}

.images > ul {
    padding: 0px;
    display: flex;
    justify-content: space-between;
}

/* TEAM */
.team {
    background-color: var(--team-card-background-color);
}

.team h2 {
    font-size: 36px;
    line-height: 117%;
    text-align: center;
    margin: 0;
}

.team-members {
    display: flex;
    justify-content: space-between;
    margin: 50px 215px 0;
    padding: 0;
}

.team-member {
    width: 270px;
    background: var(--white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-member h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    margin-bottom: 0px;
    margin: 30px auto 10px;
}

.team-member p {
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    color: var(--gray-content-color);
    margin: 10px auto 30px;
}

/* FOOTER */
footer {
    background: var(--banner-background-color);
    padding-top: 60px;
    margin-bottom: 0px;
}

#logo-footer {
    margin-left: 215px;
}

.studio-footer {
    color: var(--white-color);
}

.address-links{
    font-style: normal;
    line-height: 171%;
    margin-left: 215px;
    margin-top: 20px;
    padding-bottom: 60px;
    padding-left: 0px;
}

.address-links li:nth-child(2) {
    margin-top: 10px;
    margin-bottom: 5px;
}

.address-link-footer {
    color: var(--white-color);
}

.email-link-footer,
.tel-link-footer {
    color: rgba(255, 255, 255, 0.6);
}

/* PORTFOLIO SECTION */

.portfolio-header {
    border-bottom: 1px solid #ECECEC;
}

.portfolio {
    width: 1170px;
    margin-right: auto;
    margin-left: auto;
}


.menu-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 35px;  
}

.menu-buttons button {
    margin-right: 8px;
    padding: 6px 22px;
    background: #F5F4FA;
    border-radius: 4px;
    border-style: none;
    font-size: 16px;
    line-height: 162%;
    text-align: center;
    font-weight: 500;
} 

.menu-buttons button:hover {
    background-color: var(--blue-color);
    color: var(--white-color);
}

.portfolio-projects {
    display: flex;
    flex-wrap: wrap;
    width: 1170px;
    padding: 0px;
    justify-content: space-between;
}

.portfolio-project {
    width: 370px;
    border: 1px solid #EEEEEE;
    border-top: 0px;
}

.portfolio-project:nth-child(n+4) {
    margin-top: 30px;
}

.portfolio-project h2 {
    font-size: 18px;
    line-height: 200%;
    width: 320px;
    letter-spacing: 0.06em;
    margin: 20px 25px 5px;
}

.portfolio-project p {
    margin: 5px 25px 20px;
    font-size: 16px;
    line-height: 188%;
    color: var(--gray-content-color);
}