:root {
    --white-color: #FFFFFF;
    --main-content-color: #212121;
    --blue-color: #2196F3;
    --gray-content-color: #757575;
    --banner-background-color: #2F303A;
    --logo-icon-color: #afb1b8;
    --light-gray-color: #F5F4FA;
    --black-color: #000;
    --header-border-color: #ECECEC;
    --portfolio-border-color: #EEEEEE;

    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
    padding: 0px;
    font-size: 14px;
    letter-spacing: 0.03em;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1200px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
}

/* MAIN PAGE */

/* HEADER */

header .container{
    align-items: center;
    display: flex;
}

.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;  
    color: var(--blue-color); 
}

#logo-header {
    margin: 25px 95px 25px 0;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

span.studio-header {
    color: var(--black-color);
}

.current-page {
    position: relative;
}

.current-page::after {
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    border-bottom: 4px solid var(--blue-color);
    top: 100%;
    margin-top: 28px;
}

.header-links,
.navigation-menu {
    display: flex;
}

.menu,
.header-links {
    display: flex;
    align-items: center;
    padding: 0px;
    font-weight: 500;
    letter-spacing: 0.02em;
}

a {
    text-decoration: none;
    transition: color 250ms var(--timing-function);
}

.icon-envelope,
.icon-smartphone {
    fill: currentColor;
    margin-right: 5px;
}

header a:hover {
    color: var(--blue-color);
}

.menu a {
    color: var(--main-content-color);
}

.menu li:not(:last-child),
.email-link-header {
    margin-right: 50px;
}

.header-links {
    margin-left: auto;
}

.email-link-header,
.tel-link-header {
    color: var(--gray-content-color);
    display: flex;
    align-items: center;
}

/* HERO */

.hero {
    background-color: var(--banner-background-color);
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    background-image: linear-gradient( to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4) ),
        url(./images/hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.main-title {
    margin: 0 auto 30px;
    width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-color);
}

button {
    cursor: pointer;
}

.order-button {
    padding: 10px 32px;
    background: var(--blue-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-style: none;
    color: var(--white-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
}

/* FEATURES */

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

ul {
    list-style-type: none;
    margin: 0;
}

.features {
    margin-left: auto;
    margin-right: auto;
}

.feature-list {
    display: flex;
    justify-content: space-between;
    padding: 0px;
}

.feature-list-item {
    line-height: 171%;
    width: 270px;
    color: var(--gray-content-color);
}

.feature-icon {
    background-color: var(--light-gray-color);
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    border-radius: 4px;
}

.feature-list-item h3 {
    margin: 0;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 115%;
    text-transform: uppercase;
    color: var(--main-content-color);
}

.feature-list-item p {
    margin: 0;
}

/* IMAGES */

.images {
    padding-top: 0;
    margin-left: auto;
    margin-right: auto;
}

.images h2 {
    font-size: 36px;
    line-height: 117%;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 0;
}

.images-list {
    padding: 0px;
    display: flex;
    justify-content: space-between;
}


.features-img {
    display: block;
    max-width: 100%;
}

.images-list li {
    position: relative;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.images-description {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    margin: 0;
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;
    color: var(--white-color);
    background-color:rgba(47, 48, 58, 0.8);
}

/* TEAM */
.team {
    background-color: var(--light-gray-color);
}

.team h2 {
    font-size: 36px;
    line-height: 117%;
    text-align: center;
    margin: 0;
    margin-bottom: 50px;
}

.team-members {
    display: flex;
    padding: 0;
}

.team-member {
    width: 270px;
    background: var(--white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin-right: 30px;
}

.team-member:last-child {
    margin-right: 0;
}

.team-member h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    margin-bottom: 0px;
    margin: 30px auto 10px;
}

.team-member p {
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    color: var(--gray-content-color);
    margin: 10px auto;
}

.social-networks {
    display: flex;
    margin: 16px 32px 30px;
    padding: 0;
    justify-content: space-between;
}

.social-networks li {
    width: 44px;
    height: 44px;
}

.team-icon-network {
    width: 100%;
    height: 100%;
    fill: var(--logo-icon-color);
    border-radius: 50%;
    transition: fill 250ms var(--timing-function), background-color 250ms var(--timing-function);
}

.team-icon-network:hover {
    fill: var(--white-color);
    background-color: var(--blue-color);
}

/* CLIENTS */

.clients h2 {
    font-size: 36px;
    line-height: 117%;
    text-align: center;
    margin: 0;
    margin-bottom: 50px;
}

.clients-list {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.clients-list li {
    fill: var(--logo-icon-color);
    border: 1px solid var(--logo-icon-color);
    width: 170px;
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    transition: border-color 250ms var(--timing-function), fill 250ms var(--timing-function);
}

.clients-list li:hover {
    border-color: var(--blue-color);
    fill: var(--blue-color);

}


/* FOOTER */
footer {
    background: var(--banner-background-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

footer .container {
    display: flex;
    align-items: baseline;
}

.footer-studio {
    color: var(--white-color);
}

address {
    width: 230px;
    margin-right: 50px;
}

.address-links{
    padding: 0px;
    margin-right: 0;
    font-style: normal;
    line-height: 171%;
    margin-top: 20px;
}

.address-links li:nth-child(2) {
    margin-top: 10px;
    margin-bottom: 5px;
}

.address-link-footer {
    color: var(--white-color);
}

.email-link-footer,
.tel-link-footer {
    color: rgba(255, 255, 255, 0.6);
}

.footer-div-name {
    margin: 0;
    margin-bottom: 20px;
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;
    color: var(--white-color); 
}

.icons-list {
    display: flex;
    justify-content: space-between;
    width: 206px;
    margin: 0;
    padding: 0;
}

.icons-list li {
    background-color: rgba(255,255,255,0.1);
    border-radius: 50%;
    width: 44px;
    height: 44px;
    transition: background-color 250ms var(--timing-function);
}

.footer-icon-network {
    fill: var(--white-color);
    width: 100%;
    height: 100%;
}

.icons-list li:hover,
.icons-list li:focus {
    background-color: var(--blue-color);
}

.footer-newsletter {
    margin-left: auto;

}

.footer-form {
    display: flex;
}

.footer-email-input {
    width: 358px;
    margin-right: 12px;
    padding-left: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    font-size: 16px;
    line-height: 125%;
    color: rgba(255, 255, 255, 0.6);
    background-color: var(--banner-background-color);
}

.footer-subscribe-button {
    height: 50px;
    background-color: var(--blue-color);
    color: var(--white-color);
    padding: 10px 28px;
    font-weight: 700;
    font-size: 16px;
    line-height: 188%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: 0px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}

.icon-send {
    margin-left: 10px;
    fill: var(--white-color);
}

/* MODAL WINDOW */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 250ms var(--timing-function);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 528px;
    min-height: 581px;
    background-color: var(--white-color);
    transform-origin: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.modal-close-button {
    position: absolute;
    right: 8px;
    top: 8px;
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;
    text-align: center;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--white-color);
}

.icon-close {
    height: 100%;
    transition: fill 250ms var(--timing-function);
}

.icon-close:hover,
.icon-close:focus {
    fill: var(--blue-color);
}

.signup-form {
    width: 448px;
    margin-right: auto;
    margin-left: auto;
}

#form-head {
    margin-top: 40px;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: var(--main-content-color);
}

.signup-form .input-label {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: var(--gray-content-color);
}

.form-element {
    position: relative;
    margin-bottom: 12px;
    margin-top: 5px;
}

.form-element input {
    width: 100%;
    height: 40px;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border 250ms var(--timing-function);
}

.form-element input:focus {
    border: 1px solid var(--blue-color);
}

.signup-form-icon {
    position: absolute;
    width: 18px;
    height: 18px;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    fill: var(--main-content-color);
    transition: fill 250ms var(--timing-function);
}

.form-element input:focus + .signup-form-icon {
    fill: var(--blue-color);
}

#comment-textarea {
    width: 100%;
    margin-top: 5px;
    padding: 15px 17px;
    border-color: rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
}

#comment-textarea::placeholder {
    color: rgba(117, 117, 117, 0.5);
}

.checkbox-label {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--gray-content-color);
}

.checkbox-input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: absolute;
}

.checkbox-label span {
    width: 15px;
    height: 15px;
    margin-right: 7px;
}

.icon-check {
    border: 2px solid var(--main-content-color);
    border-radius: 2px;
    fill: var(--white-color);
    transition: fill 250ms var(--timing-function), border 250ms var(--timing-function);
}

.checkbox-input:checked ~ span .icon-check {
    fill: var(--blue-color);
    border: none;
}

.checkbox-link {
    margin-left: 5px;
    color: currentColor;
    text-decoration: underline;
}

.checkbox-input:checked ~ .checkbox-link {
    color: var(--blue-color);
}

.send-form-button {
    margin: 30px auto auto;
    width: 200px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 188%;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.06em;
    border-radius: 4px;
    border: none;
    color: var(--white-color);
    background-color: var(--blue-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms var(--timing-function);
}

.send-form-button:hover,
.send-form-button:focus {
    background-color: #188CE8;
}


/* PORTFOLIO SECTION */

.portfolio-header {
    border-bottom: 1px solid var(--header-border-color);
}

.portfolio {
    margin-right: auto;
    margin-left: auto;
}


.menu-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 35px;  
}

.menu-buttons button {
    margin-right: 8px;
    padding: 6px 22px;
    background: var(--light-gray-color);
    border-radius: 4px;
    border-style: none;
    font-size: 16px;
    line-height: 162%;
    text-align: center;
    font-weight: 500;
    transition: background-color 250ms var(--timing-function), 
        color 250ms var(--timing-function), 
        box-shadow 250ms var(--timing-function);
} 

.menu-buttons button:hover,
.menu-buttons button:focus {
    background-color: var(--blue-color);
    color: var(--white-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-projects {
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    justify-content: space-between;
}

.portfolio-project {
    width: 370px;
}

.portfolio-project-link {
    color: var(--main-content-color);
    display: block;
    transition: box-shadow 250ms var(--timing-function);
}

.portfolio-project-link:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-project:nth-child(n+4) {
    margin-top: 30px;
}

.portfolio-project-description {
    padding: 20px 24px;
    border: 1px solid var(--portfolio-border-color);
    border-top: 0px;
}

.portfolio-project h2 {
    font-size: 18px;
    line-height: 200%;
    margin: 0;
    margin-bottom: 4px;
    letter-spacing: 0.06em;
}

.portfolio-project-description p {
    margin: 0;
    font-size: 16px;
    line-height: 188%;
    color: var(--gray-content-color);
}

.box {
    position: relative;
    overflow: hidden;
}

.portfolio-project-link:hover .overlay {
    transform: translateY(0);
    opacity: 0.9;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: var(--blue-color);
    transform: translateY(100%);
    opacity: 0;
    transition: transform 250ms var(--timing-function), opacity 250ms var(--timing-function);
}

.overlay-text {
    margin: 0;
    padding: 65px 25px;
    font-size: 18px;
    line-height: 156%;
    color: var(--white-color);
} 