.logo {
    font-family: 'Raleway';
    @include font(26px, 700, 1.19);
    color: var(--blue-color);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.logo_theme_dark {
    color: var(--black-color);
}

.logo_theme_light {
    color: var(--white-color);
}
