.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: var(--white-color);

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms --timing-function,
        visibility 250ms --timing-function;
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu__container {
    position: relative;
    margin: 0;
}

.mobile-menu__close-btn {
    position: absolute;
    top: -40px;
    right: 0px;
    line-height: 0;
    border: none;
    background-color: transparent;
    padding: 0;
    fill: var(--main-content-color);
    transition: fill 250ms --timing-function;

    &:hover, &:focus {
        fill: var(--blue-color);
    }
}

.mobile-menu__close-icon {
    width: 40px;
    height: 40px;
}

.mobile-nav-menu {
    margin-top: 48px;
    margin-left: 40px;
}

.mobile-nav-menu__item {
    @include font(40px, 500, 1.17, 0.02em);
    color: var(--main-content-color);

    &:not(:last-child) {
        margin-bottom: 35px;
    }
}

.mobile-nav-menu__item a {
    color: var(--main-content-color);
}

.mobile-menu__tel-link {
    display: block;
    margin-top: 300px;
    margin-left: 40px;
    @include font(34px, 500, 1.1, 0.02em);
    color: var(--blue-color);
}

.mobile-menu__email-link {
    display: block;
    margin-top: 32px;
    margin-left: 40px;
    @include font(24px, 500, 1.16, 0.02em);
    color: var(--gray-content-color);
}

.mobile-menu-networks {
    display: flex;
    margin-top: 65px;
    margin-left: 40px;
}

.mobile-menu-networks__item {
    @include font(18px, 500, 1.12, 0.02em);
    &:not(:last-child)::after {
            content: '';
            margin-left: 10px;
            margin-right: 10px;
            border-right: 1px solid var(--main-content-color);
        }
}

.mobile-menu-networks__link {
    color: var(--blue-color);
}

