.modal-form__head {
    margin: 0;
    margin-bottom: 15px;
    @include font(20px, 700);
    text-align: center;
    color: var(--main-content-color);
}

.modal-form__label {
    @include font(12px, inherit, 1.16, 0.01em);
    color: var(--gray-content-color);
}

.modal-form__input-section {
    position: relative;
    margin-bottom: 12px;
    margin-top: 5px;
}

.modal-form__input-section input {
    width: 100%;
    height: 40px;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border 250ms var(--timing-function);

    &:focus {
        border: 1px solid var(--blue-color);
    }

    &:focus+.modal-form__icon {
        fill: var(--blue-color);
    }
}

.modal-form__icon {
    position: absolute;
    width: 18px;
    height: 18px;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    fill: var(--main-content-color);
    transition: fill 250ms var(--timing-function);
}

.main-form__textarea {
    width: 100%;
    margin-top: 5px;
    padding: 15px 17px;
    border-color: rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;

    &::placeholder {
        color: rgba(117, 117, 117, 0.5);
    }
}

.modal-form__checkbox-label {
    font-size: 12px;
    margin-top: 20px;
    @extend %flex-center;
    color: var(--gray-content-color);
}

.modal-form__checkbox {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: absolute;

    &:checked~.modal-form__checkbox-span .modal-form__icon-check {
        fill: var(--blue-color);
        border: none;
    }

    &:checked~.modal-form__checkbox-link {
        color: var(--blue-color);
    }
}

.modal-form__checkbox-span {
    @include width-height(15px, 15px);
    margin-right: 7px;
}

.modal-form__icon-check {
    border: 2px solid var(--main-content-color);
    border-radius: 2px;
    fill: var(--white-color);
    transition: fill 250ms var(--timing-function), border 250ms var(--timing-function);
}

.modal-form__checkbox-link {
    margin-left: 5px;
    color: currentColor;
    text-decoration: underline;
}

.modal-form__send-button {
    @extend %flex-center;
    @extend %main-button;
    margin: 30px auto auto;
    width: 200px;
    transition: background-color 250ms var(--timing-function);

    &:hover,
    &:focus {
        background-color: #188CE8;
    }
}

@media screen and (min-width: 320px) {
    
    .modal-form__checkbox-label {
        display: flex;
        flex-wrap: wrap;
    }

    .modal-form__checkbox-label div {
        text-align: center;
    }

}

@media screen and (min-width: 480px) {

    .modal-form {
        width: 370px;
    }
}

@media screen and (min-width: 1200px) {

    .modal-form {
        width: 448px;
    }

    .modal-form__checkbox-label {
        font-size: 12px;
    }
}

