.modal-window {
    position: absolute;
    padding: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: var(--white-color);
    transform-origin: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

@media screen and (max-width: 1999px) {
    .modal-window {
        width: 450px;
        height: 609px;
    }
}

@media screen and (min-width: 1200px) {
    .modal-window {
        min-width: 528px;
        min-height: 581px;
    }
}

.modal-window__button {
    position: absolute;
    right: 8px;
    top: 8px;
    @include width-height(30px, 30px);
    margin: 0;
    padding: 0;
    text-align: center;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--white-color);
}

.modal-window__icon {
    height: 100%;
    transition: fill 250ms var(--timing-function);

    &:hover,
    &:focus {
        fill: var(--blue-color);
    }
}

