:root {
    --white-color: #FFFFFF;
    --main-content-color: #212121;
    --blue-color: #2196F3;
    --gray-content-color: #757575;
    --banner-background-color: #2F303A;
    --logo-icon-color: #afb1b8;
    --light-gray-color: #F5F4FA;
    --black-color: #000;
    --header-border-color: #ECECEC;
    --portfolio-border-color: #EEEEEE;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}